@font-face {
    font-family: Jost;
    src: url(./fonts/Jost-Regular.ttf);
}
:root{
    --primary:#01161E;
    --secondary:#F4F4F9;
    --accent:#0FFF95;
    --weak:#EA0000;
    --medium:#EFC900;
    --strong:#0BAE2F;
    --skeleton:#D9D9D9;
    --shadow-style:1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 500px;
    width: 95%;
}
h1{
    font-size: 30px;
    color: var(--secondary);
    font-weight: 400;
}
.accent{
    color:var(--accent);
    text-decoration: underline;
}
.pass-container{
    margin: 20px 0;
    padding: 30px;
    background-color: var(--secondary);
    border-radius: 5px;
}
.pass-box{
    display: flex;
    align-items: center;
    width: 100%;    
    box-shadow: var(--shadow-style);
    border-radius: 5px;
    padding: 0 10px;
}
.pass-box input{
    width: 100%;
    height: 60px;
    border: none;
    outline: transparent;
    background-color: transparent;
    font-size: 20px;
}
.pass-box button{
    background-color: transparent;
    outline: transparent;
    border: none;
}
.pass-box button img{
    width: 25px;
}
.pass-box button img:last-child{
    margin-left: 10px;   
}

.indication-container{
    text-align: center;
    margin: 10px 0 5px 0;
}

.indicator-box{
    display: flex;
    justify-content: center;
}
.indicator-box .indication-bar{
    height: 10px;
    width: 25%;
    background: var(--skeleton);
    margin-right: 10px;
    border-radius: 10px;
}
.indicator-box .indication-bar:last-child{
    margin-right: 0;
}

.indicator-box .weak{
    background-color: var(--weak);
}
.indicator-box .medium{
    background-color: var(--medium);
}
.indicator-box .strong{
    background-color: var(--strong);
}
.indicator-box .vstrong{
    background-color: var(--accent);
}
.indication-container p{
    /* color: #EA0000; */
    font-size: 20px;
    margin-top: 10px;
}
.weak{
    color: var(--weak);
}
.medium{
    color: var(--medium);
}
.strong{
    color:var(--strong)
}
.vstrong{
    color: var(--accent);
}

.setting-label{
    font-size: 20px;
    font-weight: 400;
}
.set-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.set-box .label{
    position: relative;
    font-size: 18px;
}
.set-box input[type="number"]{
    width: 30px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: transparent;
    box-shadow: var(--shadow-style);
    margin-left: 10px;
    text-align: center;
}
.set-box input[type="number"]::-webkit-inner-spin-button,
.set-box input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
.set-box input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    
    background-color: var(--skeleton);    
}
.set-box input[type="range"]::-webkit-slider-thumb{
    background-color: var(--accent);
    -webkit-appearance: none;
    appearance: none;
    border-radius:50%;
    width: 15px;
    height: 15px;
}
#range-error{
    position: absolute;
    bottom: -70px;
    right: 0;
    z-index: 99;
    background-color: var(--weak);
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow-style);
    color: var(--secondary);
    display: none;
    animation: error .3s ease-in-out 2 alternate;
}
@keyframes error {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}
.set-box input[type="checkbox"]{
    appearance: none;
    border: none;
    outline: transparent;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow-style);
}
.set-box input[type="checkbox"]:checked{
    background-image: url(images/check.png);
    background-size: cover;
}   
.social-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-box span{
    color: var(--secondary);
    font-size: 20px;    
}
.social-box .icon-box img{
    width: 30px;
}